* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 400px;
    width: 40%;
    overflow: hidden;
}

.container .left-side {
    width: 50%;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.container .left-side .left-side-title {
    color: rgba(255, 255, 255, 0.736);
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
}

.container .left-side .circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 170px;
    width: 170px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .left-side .circle .number {
    font-size: 56px;
    font-weight: bold;
}

.container .left-side .circle .per-cent {
    color: rgba(255, 255, 255, 0.638);
}

.container .left-side .degree {
    font-size: 28px;
    font-weight: bold;
}

.container .left-side .note {
    color: rgba(255, 255, 255, 0.723);
    text-align: center;
    padding: 0px 23px;
}

.container .right-side {
    width: 50%;
    padding: 30px 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.container .right-side .right-side-title {
    color: black;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.container .right-side .list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 70%;
}

.container .right-side .list .item {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    border-radius: 4px;
}

.container .right-side .list .item .rating {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.347);
    strong {
        color: black;
    }
}

.container .right-side .list .item .item-title {
    flex-grow: 1;
    padding: 0 10px;
}

.red {
    background: hsla(0, 100%, 67%, 0.1);
    .item-title {
        color: hsl(0, 100%, 67%);
    }
}
.yellow {
    background: hsla(39, 100%, 56%, 0.099);
    .item-title {
        color: hsl(39, 100%, 56%);
    }
}
.green {
    background: hsla(166, 100%, 37%, 0.1);
    .item-title {
        color: hsl(166, 100%, 37%);
    }
}
.blue {
    background: hsla(234, 85%, 45%, 0.096);
    .item-title {
        color: hsl(234, 85%, 45%);
    }
}

.container .right-side button {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));;
}

@media (max-width: 1200px) {
    .container {
        width: 60%;
        height: auto;
    }
    .container .right-side button {
        margin-top: 20px;
    }
}

@media (max-width: 750px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        height: auto;
        display: block;
        box-shadow: none;
    }
    .container .right-side, .container .left-side {
        width: 100%;
    }


}